<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Manage-CC</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/stylea.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body id=body>
  <%- include('../partials/adminheader') %>
  <div class="move-down grid-container" >
    <div class=" grid-item">
    <table class="farmer-req " >
      <thead>
        <tr>
          <td>Collection Centre Name</td>
          <td>Contact Number</td>
          <td>Address</td>
          <td>Trash it</td>
        </tr>
      </thead>
      <tbody>
      <% order.forEach(function(row){%>
          <tr>
            <%    if(row.select==="CollectionCentre"){ %>
              <td><%=row.ccname%></td>
              <td><%=row.cccontact%></td>
              <td><%=row.ccadd%></td>
              <td><a  class="btn btn-danger btn-xs" href="/remove/<%= row._id %> "><i class="fa fa-trash" aria-hidden="true" ></i></a></td>
            <%}%>
          </tr>
          <% }) %>
    </tbody>
  </table>
  </div>
  </div>
</body>
</html>