<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Raw Materials Catalogue</title>
  <link rel="icon" type="image/ico" href="images/logo.png">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/stylecc.css">
  <link rel="stylesheet" href="../css/stylepc.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body id=body>
  <%- include('../partials/pcheader') %>

    <div class="move-down" style="margin-left:16%" >
      <!-- style="margin-left:16%" -->
<h3>Available Raw Materials</h3>
  <table class="available-raw-materials">
    <!-- <tr>
      <td class="apply-images"><img src="../images/wheat-husk.jpg" alt="Wheat Husk"></td>
      <td class="apply-images"><img src="../images/wheat-straw.jpg" alt="Wheat Straw"></td>
      <td class="apply-images"><img src="../images/rice-husk.jpg" alt="Rice Husk"></td>
    </tr>
    <tr>
      <td class="raw-materials">Wheat Husk</td>
      <td class="raw-materials">Wheat Straw</td>
      <td class="raw-materials">Rice Husk</td>
    </tr>
    <tr>
      <td class="available-quantity">Available Quantity</td>
      <td class="available-quantity">Available Quantity</td>
      <td class="available-quantity">Available Quantity</td>
    </tr>
    <tr>
      <td class="available-quantity">Price Per unit</td>
      <td class="available-quantity">Price Per unit</td>
      <td class="available-quantity">Price Per unit</td>
    </tr>
    <tr>
      <td class="apply-images"><img src="../images/rice-straw.jpg" alt="Wheat Husk"></td>
      <td class="apply-images"><img src="../images/cotton-stalks.jpg" alt="Wheat Straw"></td>
      <td class="apply-images"><img src="../images/bagasse.jpg" alt="Rice Husk"></td>
    </tr>
    <tr>
      <td class="raw-materials">Rice Straw</td>
      <td class="raw-materials">Cotton Stalk</td>
      <td class="raw-materials">Bagasse</td>
    </tr>
    <tr>
      <td class="available-quantity">Available Quantity</td>
      <td class="available-quantity">Available Quantity</td>
      <td class="available-quantity">Available Quantity</td>
    </tr>
    <tr>
      <td class="available-quantity">Price Per unit</td>
      <td class="available-quantity">Price Per unit</td>
      <td class="available-quantity">Price Per unit</td>
    </tr>
  </table> -->
  <% order.forEach(function(row){%>
    <tr>
      <td class="apply-images"><img src="../images/<%=row.RawMaterial%>.jpg"></td>
      <td class="raw-materials"><%=row.RawMaterial%></td>
      <td class="available-quantity">Available Quantity:<%=row.ready%>Kg</td>
      <td class="available-quantity">Price per unit:<%=prices%>Rs</td>
    </tr>
    <% }) %>
  </table>
  <br><br>
  <h3>Biomass Characterization</h3>
  <br><br>
  <table class="available-raw-materials">
    <% request.forEach(function(row){%>
      <tr>
        <td class="apply-images"></td>
        <td class="raw-materials"><%=row.RawMaterial%></td>
        <td class="available-quantity">Gross Calorific Value(cal/g):<%=row.gross%>(cal/g)</td>
      </tr>
      <% }) %>
    </table>
      </div>

  </body>
  </html>
