<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Farmer-Request-Pickup</title>
  <link rel="icon" type="image/ico" href="images/logo.png">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/stylef.css">
  <link rel="stylesheet" href="../css/stylepc.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body id=body>
  <%- include('../partials/farmerheader') %>
    <!-- <div class="w3-card">
        <div class="card-body">
          <h5 class="card-title">Request Pickup</h5>
          <br>
          <form>
            <label for="Residue">Enter Residue Type</label>
            <input type="text" placeholder="Select Residue Type" id="Residue" name="Residue">
            <br>
            <label for="Land">Total Cultivation Area</label>
            <input type="text" placeholder="Enter Cultivation Area" id="Land" name="Land">
            <input type="submit" value="Submit Request">
          </form>
        </div>
    </div>

      <div class="input-container">
        <form id="inputForm">
          <input type="number" id="input-box" name="quantity" min="1" max="">
          <input id="filldetails" name="submit" type="submit" value="Add
             boxes">
        </form>
      </div> -->


      <!-- <script>
        const form = document.getElementById('inputForm');

form.addEventListener('submit', (e) => {
  e.preventDefault(); // stop the form submission
  const input = form.querySelector('input');
  const boxInput = input.value; // get the value
  let box = document.querySelector('#boxes');
    box.innerHTML="";
  for (let i = 0; i < boxInput; i++) { // loop over the input value
    let div = document.createElement('div'); // create div elem
    div.textContent = `Box-${i}`
    box.appendChild(div); // now append in the DOM elem
  }
});

      </script> -->

      <div class="move-down" >
        <!-- style="margin-left:16%" -->
            <form method="post" action="/requestpickup">
            <div class="w3-card">
              <div class="card-body">
                  <h6 class="card-text mb-5"> Add Request </h6>
                <div class="row apply-margin">
                  <div class="col-sm-6 text-primarys">
                    <h6 class="mb-2 apply-font"><label for="waste-needed"> Crops Waste</label></h6>
                    <a href="/fresiduecatalog" style="color: rgba(53, 145, 33, 0.8);">Click to see Residue Catalog</a>
                  </div>
                  <div class="col-sm-6 text-secondary ">
                    <select name="RawMaterial" id="waste-needed" required multiple>
                    <%   records.forEach(function(row){%>
                      <% if (row === "Wheat") { %>
                    <option value="<%=row%> Husk"><%=row%> Husk</option>
                    <option value="<%=row%> Straw"><%=row%> Straw</option>
                     <% } else if(row === "Rice") { %>
                       <option value="<%=row%> Husk"><%=row%> Husk</option>
                       <option value="<%=row%> Straw"><%=row%> Straw</option>
                    <% } else if (row === "Cotton") {%>
                      <option value="<%=row%> Stalk"><%=row%> Stalk</option>
                      <% } else if (row === "Sugar Cane") {%>
                        <option value="Bagasse">Bagasse</option>
                      <%}%>
                    <% }) %>
                        <!-- <option value="Wheat">Wheat</option>
                        <option value="Rice">Rice</option>
                        <option value="Cotton">Cotton</option>
                        <option value="Sugar Cane">Sugar Cane</option> -->
                    </select>
                  </div>
                </div>
                <div class="row apply-margin">
                  <div class="col-sm-6 text-primarys">
                    <h6 class="mb-2 apply-font"><label for="land-area">Land Area in hectare </label></h6>
                  </div>
                  <div class="col-sm-6 text-secondary ">
                    <input class="apply-padding"type="number" min="0" id="land-area" placeholder="placeholder" name="LandArea" required>
                  </div>
                </div>
                <div class="row apply-margin">
                  <div class="col-sm-6 text-primarys">
                    <h6 class="mb-2 apply-font"><label for="Harvest-date"> Tentative Harvesting Date </label></h6>
                  </div>
                  <div class="col-sm-6 text-secondary ">
                        <input class="apply-padding" data-date-format="dd/mm/yyyy" id="datepicker" name="date" required>
                  </div>
                </div>
                <div class="row">
                  <button class="button-add" type="submit">Add Request</button>
                </div>
              </div>
            </div>
            </form>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
          <script type="text/javascript">
        $('#datepicker').datepicker({
            weekStart: 1,
            autoclose: true,
        });
        $('#datepicker').datepicker("setDate", new Date());
      </script>
      </div>
     
      </body>
      </html>
